In [27]:
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import IPython.display
import numpy as np
import datetime
import re
import math

In [28]:
dt = pd.read_csv("./clean_data/clean_data.csv")

In [29]:
dt.head()

,Unnamed: 0,CategoryCode,StartDate,CompletionDate,SaleDate,Division,MetropolitanArea,SalesPrice,ContractPrice,LotValue,...,CentralAir-conditioning,SquareFootAreaofHouse,Weight,SquareFootAreaoftheLotFlag,SquareFootAreaofFinishedBasementFlag,SalesPriceFlag,ContractPriceFlag,LotValueFlag,SquareFootAreaofHouseFlag,PermitAuthorizationDate
0,0,1,199905,200001,199904,1,1,249900.0,NaN,80000,...,1.0,2400.0,53,0,0,0,0,0,0,199904
1,1,1,199810,199904,199904,1,1,139900.0,NaN,30000,...,2.0,1192.0,39,0,1,0,0,0,0,199810
2,2,1,0,0,200003,1,1,438600.0,NaN,0,...,1.0,3170.0,57,0,0,0,0,0,0,199910
3,3,1,199903,199906,199903,1,1,271900.0,NaN,90000,...,2.0,2376.0,58,0,0,0,0,0,0,199903
4,4,1,199907,199910,199907,1,1,320000.0,NaN,90000,...,1.0,2600.0,40,0,0,0,0,0,0,199907

In [34]:
dt['SaleYear'] = dt['SaleDate']//100
dt.head()

,Unnamed: 0,CategoryCode,StartDate,CompletionDate,SaleDate,Division,MetropolitanArea,SalesPrice,ContractPrice,LotValue,...,SquareFootAreaofHouse,Weight,SquareFootAreaoftheLotFlag,SquareFootAreaofFinishedBasementFlag,SalesPriceFlag,ContractPriceFlag,LotValueFlag,SquareFootAreaofHouseFlag,PermitAuthorizationDate,SaleYear
0,0,1,199905,200001,199904,1,1,249900.0,NaN,80000,...,2400.0,53,0,0,0,0,0,0,199904,1999
1,1,1,199810,199904,199904,1,1,139900.0,NaN,30000,...,1192.0,39,0,1,0,0,0,0,199810,1999
2,2,1,0,0,200003,1,1,438600.0,NaN,0,...,3170.0,57,0,0,0,0,0,0,199910,2000
3,3,1,199903,199906,199903,1,1,271900.0,NaN,90000,...,2376.0,58,0,0,0,0,0,0,199903,1999
4,4,1,199907,199910,199907,1,1,320000.0,NaN,90000,...,2600.0,40,0,0,0,0,0,0,199907,1999